<!-- DOCTYPE html -->

<html ng-app="quizApp">

  <head>
    <base href="/">
    <link rel="stylesheet" href="/libs/css/bootstrap.min.css"></link>
    <script src="/libs/js/angular/angular.min.js"></script>
    <script src="/libs/js/angular/angular-route.js"></script>
    <!--<script src="/libs/js/bootstrap/bootstrap.min.js"></script>-->
    <script src="/scripts/loginController.js"></script>
    <script src="/scripts/services.js"></script>
    <script src="/scripts/userController.js"></script>
    <script src="/scripts/adminController.js"></script>
    <script src="/scripts/routes.js"></script>
  </head>

  <body>
    <div ng-view></div>
  </body>

</html>
